.site-category {
    padding: 0 20px;
    font-size: 13px;
    display: flex;
    line-height: 13px;
    flex-wrap: wrap;
    .flex-column-link {
        position: relative;
		padding: 4px 10px;
		background: @background-color;
		border-radius: 2px;
		&:hover {
			background: @black;
			color: white;
		}
        .flex-column-count {
            padding-left: 4px;
        }
    }
}