.category-wrapper {
    padding: 0 20px;
    font-size: 13px;
    margin-bottom: 8px;

    .site-category {
        line-height: 13px;
        word-break: break-all;
        .flex-column-link {
            display: inline-block;
            position: relative;
            padding: 4px 4px;
            background: #993f3f;
            color: white;
            border-radius: 2px;
            margin-right: 4px;
            &:hover {
                background: white;
                color: #993f3f;
            }
            &:last-child {
                margin-right: 0px;
            }
            .flex-column-count {
                padding-left: 4px;
            }
        }

        // @media (max-width: 600px) {
        //     display: none;
        // }
    }
}