<% if(post.image || post.thumbnail) {
  var imgSrc = config.root + '/' + (post.image || post.thumbnail);
%>
<div class="article-rep-image-wrap"><img class="article-rep-image" src="<%- imgSrc %>" /></div>
<% } %>
