<header class="header">
  <div class="header-image"><img src="{{ site.baseurl }}/assets/images/programing.jpg"></div>
  <h1 class="header-title">
    <a href="{{ site.baseurl }}">{{ site.name }}<span>&#39;s Note</span></a>
  </h1>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>
