.app-nav {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 0;

  margin: $gutter;

  a {
    color: $anchor-color;
    padding: 6px 10px;

    i {
      font-size: 1.4em;
    }

    &:hover {
      color: black;
    }
  }

  .active {
    background-color: $anchor-color;
    color: #fff;
  }
}
