
<footer id="footer" class="clearfix">
  <div>&copy; <a href="<%= config.url %>"><%= config.title %></a> Theme by <a href="http://artifact.me/" target="_blank">Art Chen</a>.</div>
  <div>Powered by <a href="https://hexo.io/" rel="external">Hexo</a>.</div>
</footer>

