<nav class="main-nav nav flex-column nav-pills">
    <% for (var i in theme.menu) { %>
    <% 
        var href = url_for(theme.menu[i]);
        var currentPath = url_for(page.path);
    %>
        <a class="" href="<%- href %>">
            <%= __('index.' + i.toLowerCase()) %>
        </a>
    <% } %>
    <!-- <%- list_categories({
        depth: 1,
        style: 'cloud',
        class: 'nav flex-column',
        show_count: false,
    }) %> -->
</nav>