<% if (!is_home() && (page.prev || page.next)) { %>
    <% if (page.prev) { %>
        <div>
            <span>이전</span>
            <a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %></a>
        </div>
    <% } %>
    <% if (page.next) { %>
        <div>
            <span>다음</span>
            <a href="<%- url_for(page.next.path) %>"><%= page.next.title %></a>
        </div>
    <% } %>
<% } %>