body {
    font-size: 1.1em;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 5%;
}

blockquote {
    color: gray;
    margin-left: 10px;
    border-left: 6px solid #aaa;
    padding: 25px 10px 25px 20px;
}

li {
    margin: 5px 0;
}

dl dt {
    font-weight: bold;
    padding-left: 10px;
}

dl dd {
    margin-bottom: 10px;
}

h2 {
    border-bottom: solid 1px #999;
    padding: 15px 0;
}

header > h1 {
    font-size: 2.2em;
}

header > h2 {
    font-size: 1.8em;
}

section {
    clear: both;
}

em {
    font-weight: bold;
    color: #77140d;
    font-style: normal;
}

.contributor {
    font-size: 0.7em;
    margin-bottom: 10px;
}

.contributor ul {
    list-style: none;
}

.gravata {
    float: left;
    margin-right: 20px;
}

.header-summary {
    color: #999;
    text-align: right;
}