body {
    font-size: 1.1em;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

blockquote {
    color: gray;
    margin-left: 10px;
    border-left: 6px solid #aaa;
    padding: 25px 10px 25px 20px;
}

.header-summary {
    color: #999;
    text-align: right;
}

ul > li {
    font-size: 0.9em;
}