body {
    font-size: 1.1em;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

blockquote {
    color: gray;
    margin-left: 10px;
    border-left: 6px solid #aaa;
    padding: 25px 10px 25px 20px;
}

dl dt {
    font-weight: bold;
    padding-left: 10px;
}

dl dd {
    margin-bottom: 10px;
}

header > h1 {
    font-size: 2.2em;
}

header > h2 {
    font-size: 1.8em;
}

.contributor {
    font-size: 0.8em;
}

.gravata {
    float: left;
    margin-right: 20px;
}

.header-summary {
    color: #999;
    text-align: right;
}