//
// base
//
$bg-color: #eee;
$main-content-width: 55rem;
$gutter: 6px;

$root-font-size: 1rem;
$body-font-size: 1rem;


//
// header
//
$banner-height: 450px;
$avatar-size: 100px;
$app-title-font-size: 1.875rem;

$avatar-border-color: #fff;
$app-title-color: #666;
$app-subtitle-color: #EB298C;


//
// archive
//
$archive-main-width: 500px;
$archive-gutter: 2 * $gutter;
$page-nav-font-size: 1.25rem;

//
// article
//
$article-line-height: 1.3;
$article-text-color: #555;
$article-date-color: #aaa;
$article-gutter: 3 * $gutter;
$anchor-color: #5badf0;

//
// sharing
//
$sharing-border-color: #ddd;
$sharing-avatar-size: 70px;
$sharing-subtitle-color: #aaa;
$sharing-statement-color: #EB298C;

//
// footer
//
$app-footer-height: 80px;
$app-footer-color: #777;
$app-footer-bg: #abcdef;
/*
font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
*/
//font
$font-sans: sans-serif;
$font-serif: serif;
$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, monospace;

//
// markdown highlight
//
$code-bg-color: rgba(0,0,0,0.07);;
$quote-border-color: #aaa;
$quote-color: #aaa;
$code-block-linehight: 1.25 * $root-font-size
